.main-logo {
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
}

h1, h2, h3, h4, h5, h6, p, b, span, a {
    font-family: 'Comfortaa', cursive;
}

.nav-item {
    color: white;
    font-weight: bold;
}